<div class="spacer"></div>


<mat-card>
  <!--<mat-form-field>-->
   <!--<mat-select [(value)]="selected">-->
     <!--<mat-option>NONE</mat-option>-->
     <!--<mat-option *ngFor="let op of values; let key=index" [value]="key">{{op.label}}</mat-option>-->
   <!--</mat-select>-->
  <!--</mat-form-field>-->

 values: {{selected|json}}
  <mat-toolbar>
    <button mat-raised-button (click)="onClick()">SET</button>
  </mat-toolbar>
</mat-card>


<!--<app-scenario-selector-->
        <!--placeholder = "Choose Scenes"-->
        <!--matTooltip=" Rate, Eqp., S. Charge"-->
        <!--[applyFuncName] = "'applyAssumption'"-->
        <!--[settingTypeLabel]="'Fixed costs'"-->
        <!--[retrieveFuncName] = "'retrieveAssumptions'"-->
        <!--[labelName] = "'configName'">-->
<!--</app-scenario-selector>-->


<!--<mat-form-field>-->
  <!--<mat-select [(value)]="selected">-->
    <!--<mat-option>None</mat-option>-->
    <!--<mat-option value="option1">Option 1</mat-option>-->
    <!--<mat-option value="option2">Option 2</mat-option>-->
    <!--<mat-option value="option3">Option 3</mat-option>-->
  <!--</mat-select>-->
<!--</mat-form-field>-->
