
.table-container{
  display: flex;
  flex-flow: row nowrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.table-item {
  justify-content: center;
  background-color: lightblue;
}
.table-col {
  padding: 2px;
  min-width: 120px;
  //background-color: silver;
  border: 1px solid darken(lightblue,1%);
  margin:2px;
  text-align: center;
}

.table-head {

}
