<div style="position:relative;top:0px;height:66px; background-color: lightblue"></div>
<mat-toolbar>Visualisations</mat-toolbar>
<form action="" #fm3="ngForm">

<button mat-icon-button (click)="click_download()"><mat-icon>get_app</mat-icon></button>
    <br>
   <mat-card>
           <mat-radio-group #rads (change)="rgChanged($event)">
               <mat-radio-button
                       [value]="groupby[1]"
                       #monthly
                       ngDefaultControl
                       [name]="weekly">{{groupby[1]}}
               </mat-radio-button>
               <mat-radio-button
                       [value]="groupby[2]"
                       #monthly
                       ngDefaultControl
                       [name]="weekly">{{groupby[2]}}
               </mat-radio-button>
               <mat-radio-button
                       [value]="groupby[3]"
                       #monthly
                       ngDefaultControl
                       [name]="quarterly">{{groupby[3]}}
               </mat-radio-button>
               <mat-radio-button
                       [value]="groupby[0]"
                       #monthly
                       ngDefaultControl
                       [name]="yearly">{{groupby[0]}}
               </mat-radio-button>
               <!--<mat-radio-button value="2">Option 2</mat-radio-button>-->
           </mat-radio-group>
       <br>
       <mat-form-field>
           <input matInput
                  [ngModel]="_from"
                  name="from"
                  [matDatepicker]="pickerFrom"
                  placeholder="Choose date to"
                  (dateChange)="onDateChanged('from',$event)">
           <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
           <mat-datepicker #pickerFrom></mat-datepicker>
       </mat-form-field>
        <div style="display: inline-block;padding:13px">To</div>
       <mat-form-field>
           <input matInput
                  [ngModel]="_to"
                  name="to"
                  [matDatepicker]="pickerTo"
                  placeholder="Choose date from"
                  (dateChange)="onDateChanged('to', $event)">
           <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
           <mat-datepicker #pickerTo></mat-datepicker>
       </mat-form-field>

   </mat-card>
</form>
<div class="table-container">


    <app-cf-cum-periodic [data]="data$"></app-cf-cum-periodic>
</div>