<div class="spacer"></div>
<div class="toolbar"></div>


<mat-tab-group [selectedIndex]="'0'" >

  <mat-tab label="Fixed Costs" >

      <app-fixed-costs></app-fixed-costs>
  </mat-tab>
  <mat-tab label="Variable Costs" >
     <mat-accordion>
         <app-operating-costs></app-operating-costs>
     </mat-accordion>
  </mat-tab>
  <mat-tab label="Visitor numbers" >
    <mat-accordion>
      <app-vistor-monthly></app-vistor-monthly>
      <app-visitor-weekly></app-visitor-weekly>
    </mat-accordion>

  </mat-tab>


</mat-tab-group>