<div class="table-container">

  <div class="table-item">
    <div class="table-col">Date</div>
    <div class="table-col"> Transactions</div>
    <div class="table-col">Fixed Costs</div>
    <div class="table-col">Variable Costs</div>
    <div class="table-col">TotalCosts</div>
    <div class="table-col"> <hr> </div>
    <div class="table-col">Net Sales</div>
    <div class="table-col"><hr></div>
    <div class="table-col">Profit</div>

    <div class="table-col"><hr></div>
    <div class="table-col">cum. Profit</div>
    <div class="table-col">cum. Total Costs</div>
    <div class="table-col"> <br></div>
    <div class="table-col">Vat</div>
    <div class="table-col">cum. Vat</div>
  </div>
  <div class="table-item" *ngFor="let it of data$| async">
    <div class="table-col">{{it[fld]}}</div>
    <div class="table-col"> {{it.trades|numFmt}}</div>
    <div class="table-col">{{it.fixedCosts |numFmt}}</div>
    <div class="table-col">{{it.variableCosts|numFmt}}</div>
    <div class="table-col">{{it.totalCosts|numFmt}}</div>
    <div class="table-col"> <hr></div>
    <div class="table-col">{{it.netSales|numFmt}}</div>
    <div class="table-col"> <hr></div>
    <div class="table-col" [style.color]="it.profit > 0 ? 'black' : 'red'">{{it.profit|numFmt}}</div>

    <div class="table-col"> <hr></div>
    <div class="table-col" [style.color]="it.cumProfit > 0 ? 'black' : 'red'">{{it.cumProfit|numFmt}}</div>

    <div class="table-col">{{it.cumTotalCosts|numFmt}}</div>
    <div class="table-col"> <br></div>
    <div class="table-col">{{it.vatOnSales|numFmt}}</div>
    <div class="table-col">{{it.cumVat|numFmt}}</div>
    <!--<div class="table-col">{{it.v}}</div>-->
  </div>
</div>

<!--pig  hello-->