<p class="topbar-spacer"></p>
<div class="banner">
    <mat-toolbar>
        <button (click)="toggle()" [style.left]="sidenav.opened ? '420px': 0" mat-icon-button>
            <mat-icon *ngIf="!sidenav.opened">more_vert</mat-icon>
            <mat-icon *ngIf="sidenav.opened">arrow_backward</mat-icon>

        </button>
    </mat-toolbar>
</div>
<mat-sidenav-container>
    <mat-sidenav mode="over" #sidenav opened="toggle()" opened="false">
        <mat-tab-group>
            <mat-tab label="model inputs">
                <mat-card>
                    <form novalidate #fm="ngForm">
                        <div style="background-color: hotpink">
                            <app-memory-date-selector
                                    [localStorageName]="'Report_date_selector_FROM'"
                                    (dateChangedEvent)="onDateChanged('from',$event)">
                            </app-memory-date-selector>

                            <app-memory-date-selector
                                    [localStorageName]="'Report_date_selector_TO'"
                                    (dateChangedEvent)="onDateChanged('to',$event)">
                            </app-memory-date-selector>

                        </div>
                        <br>
                        <button mat-raised-button color="primary" (click)="onRecompute()">COMPUTE</button>
                        <br>
                    </form>
                    <!--
                    applyFuncName = 'applyAssumption';
     @Input() retrieveFuncName = 'retrieveAssumptions';
     @Input() labelName = 'name';


                    -->


                    <app-scenario-selector
                            placeholder="Choose Scenes"
                            matTooltip=" Rate, Eqp., S. Charge"
                            (changed)="onChanged()"
                            [applyFuncName]="'applyAssumption'"
                            [settingTypeLabel]="'Fixed costs'"
                            [retrieveFuncName]="'retrieveAssumptions'"
                            [labelName]="'configName'">
                    </app-scenario-selector>
                    <app-scenario-selector
                            placeholder="Choose Scenes"
                            matTooltip="Decimal fraction of sales activity across week"
                            (changed)="onChanged()"
                            [applyFuncName]="'applyCurrentWeeklyBias'"
                            [settingTypeLabel]="'Weekly sales activity'"
                            [retrieveFuncName]="'retrieveCurrentWeeklyBias'"
                            [labelName]="'name'">
                    </app-scenario-selector>

                    <app-scenario-selector
                            placeholder="Choose Scenes"
                            [applyFuncName]="'applyCurrentMonthlyBias'"
                            matTooltip="Decimal fraction of sales activity across month"
                            (changed)="onChanged()"
                            [settingTypeLabel]="'Monthly sales trend'"
                            [retrieveFuncName]="'retrieveCurrentMonthlyBias'"
                            [labelName]="'name'">
                    </app-scenario-selector>
                    <app-scenario-selector
                            placeholder="Choose Scenes"
                            matTooltip="Staff wages, Trade base, Average sale"
                            (changed)="onChanged()"
                            [applyFuncName]="'applyOperatingCosts'"
                            [settingTypeLabel]="'Operating Costs'"
                            [retrieveFuncName]="'retrieveOperationgCosts'"
                            [labelName]="'name'">
                    </app-scenario-selector>

                </mat-card>
            </mat-tab>
            <mat-tab label="layout view"></mat-tab>
        </mat-tab-group>
        <!--<app-configure ></app-configure>-->
    </mat-sidenav>
    <div style="height: 50vh">

        <div class="table-container">
            <app-cf-daily [data]="data$"></app-cf-daily>

        </div>
    </div>
</mat-sidenav-container>
