<p class="topbar-spacer">sss</p>
<div class="banner">
    <mat-toolbar>
        <button (click)="toggle()" mat-raised-button>Settings</button>
    </mat-toolbar>
</div>
<mat-sidenav-container>
    <mat-sidenav mode="over" #sidenav opened="toggle()" opened="false">
        <mat-tab-group>
            <mat-tab label="model inputs">
                <mat-card>
                    <form novalidate #fm="ngForm">

                        <mat-form-field>
                            <input matInput
                                   [ngModel]="_from"
                                   name="from"
                                   [matDatepicker]="pickerFrom"
                                   placeholder="Choose date to"
                                   (dateChange)="onDateChanged('from',$event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFrom></mat-datepicker>
                        </mat-form-field>
                        <div style="display: inline-block;padding:13px">To</div>
                        <mat-form-field>
                            <input matInput
                                   [ngModel]="_to"
                                   name="to"
                                   [matDatepicker]="pickerTo"
                                   placeholder="Choose date from"
                                   (dateChange)="onDateChanged('to', $event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTo></mat-datepicker>
                        </mat-form-field>
                        <br>
                        <button mat-raised-button color="primary" (click)="onRecompute()">COMPUTE</button>
                        <br>
                    </form>

                </mat-card>
            </mat-tab>
            <mat-tab label="layout view"></mat-tab>
        </mat-tab-group>
    </mat-sidenav>
    <div style="background-color: lightblue; height: 50vh">

        <div class="table-container">
            <app-cf-daily [data]="data$"></app-cf-daily>

        </div>
    </div>


</mat-sidenav-container>


<!--
fixedCosts: number;
    variableCosts: number;
    netSales: number;
    vatSales: number;
    totalCosts: number;
    profit: number;
    cashflow: number;
    cumVat: number;
    cumProfit: number;
-->