.spacer {
  top: 0;
  height: 64px;
}

.td-label {
  color: gray;
  //border: 1px solid gainsboro;
  border-radius: 5%;
  margin: 0 ;
  padding: 1px 5px;
  font-size: 10px;
}

.title {
  font-weight: bold;
}

:hover .over {
  //background-color: gainsboro;
  text-decoration: underline;
  cursor: pointer;
}

//:hover .over + tr {
//  background-color: darkred;
//}

.cfg-record {
  border: 1px solid grey;
  margin: 0 auto;
  padding: 140px;

}

mat-toolbar {
  display: flex;
  justify-content: flex-end;
}

mat-card-title {
  color: lighten(black, 10%);
  font-size: 18px;
  font-family: Chalkboard;
  margin: 0 auto;
  justify-content: center;
}

mat-select {
  width: 200px;
  color: darken(black, 0%);
  font-size: 14px;
}